PORT=3001
NODE_ENV=development
DATABASE_URL="postgresql://personal_db_96pn_user:c8NaBAig4Uk9ouuSmAgipZWzbi2x0I6z@dpg-d7p5tsl8nd3s73e3930g-a/personal_db_96pn"
JWT_SECRET="639901c842ad6cab700584c711defce9"
JWT_EXPIRES_IN="1d"

# Credenciais de seed para login
SEED_SUPER_ADMIN_EMAIL="admin@selfmachine.com"
SEED_SUPER_ADMIN_PASSWORD="Admin@123"
SEED_PERSONAL_EMAIL="personal@selfmachine.com"
SEED_PERSONAL_PASSWORD="Admin@123"

