PORT=3001
NODE_ENV=development
DATABASE_URL="postgresql://personal_db_96pn_user:c8NaBAig4Uk9ouuSmAgipZWzbi2x0I6z@dpg-d7p5tsl8nd3s73e3930g-a/personal_db_96pn"
JWT_SECRET="change-this-secret-in-production"
JWT_EXPIRES_IN="1d"

